.backImage {
  background-image: url('~src/assets/image/hotel/usersinup.jpg');
  height: 1000px;
  width: 1350px;
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
}

.backImage {
  background-image: url('~src/assets/image/hotel/userlogin.webp');
  height: 1000px;
  width: 1350px;
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
}

.formAlinment {
  border: 2px solid black;
  background-image: url('~src/assets/image/hotel/formbakk.jpg');
  width: 400px;
  min-height: 300px;
  margin: 20px;
  text-align: center;
  position: relative;
  top: 72px;
  padding: 5px 5px;
  left: 19px;
  margin: auto;
}

.formAlinment h1 {
  color: rgb(0, 174, 255);
}

.formAlinment button {
  position: relative;

}

.backBtm {
  background-color: aqua;
  height: 35px;
  width: 94px;
  text-align: center;
  font-size: 16px;
  padding: 5px, 5px;
  position: relative;
  overflow: hidden;
  float: left;
  top: 10px;

  margin: 2px;
  border-radius: 15px;
}

button:hover {
  color: rgb(255, 47, 0);

}

.backBtmInerForm {
  background-color: aqua;
  height: 35px;
  width: 65px;
  text-align: center;
  font-size: 16px;
  padding: 5px, 5px;
  position: relative;
  overflow: hidden;
  float: left;
  left: 155px;
  top: 10px;
  margin: 2px;
  border-radius: 15px;
}

.hint {
  color: blue;
}

.Btn-css {
  background-color: aqua;
  height: 35px;
  width: 94px;
  text-align: center;
  font-size: 16px;
  padding: 5px, 5px;
  position: relative;
  overflow: hidden;
  float: left;
  top: 10px;
  left: 20px;
  margin: auto;
  border-radius: 15px;
}

.inpt {

  width: 240px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 6px;
  position: relative;
  left: 150px;
  top: 50px;

}

.btn{
  background-color: rgb(255, 0, 157);
  height: 10px;
  width: 50px;
  text-align: center;
  font-size: 16px;
  color: rgb(204, 248, 8);

}

.btn :hover{
  color: blue;
}

table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100px;
}

.table {
  text-align: center;
  background-color: burlywood;
  width: 1000px;
  margin-top: 60px;
  text-align: center;
  position: absolute;
  float: left;
  //left: 10px;
  right: -400px;
}

#icon {
  cursor: pointer;
}

#container{
  position: absolute;
  margin-top: -75px;
  margin-left: 495px;
}
// table td button{
//   color: yellowgreen;
// }