<div class="backGround">
    <button routerLink="/userMod/userLogin" class="backBtmInerForm">Back</button><br>

    <form [formGroup]="confirmForm" class="formAlinment">
        <h1>Confirm Password</h1>

        <label>Enter the Mobile Number</label><br>
        <input type="text" formControlName="mobileNumber">
        <div calss="hint" *ngIf="!confirmForm.get('mobileNumber')?.touched" class="hint">Register Mobile Number </div>
        <div  class="err" *ngIf="confirmForm.get('mobileNumber')?.errors?.['required']">Mobile Number is <strong>required</strong>
        </div><br>
         
    <label >Enter the New Password</label><br>
    <input  type="text" formControlName="password" [(ngModel)]="newdata">
    <div calss="hint" *ngIf="!confirmForm.get('password')?.touched  
    && confirmForm.get('newpassword')?.errors?.['required']" class="hint"> 
    Enter Confirm Password </div>
<div  class="err" *ngIf="confirmForm.get('password')?.errors?.['required'] ">Confirm Password<strong>required</strong></div><br>

        <label >Enter the confirmPassword</label><br>
        <input  type="text" formControlName="confirmPassword"  [(ngModel)]="confirmdata">
        <div calss="hint" *ngIf="!confirmForm.get('confirmPassword')?.touched  
                            && confirmForm.get('confirmPassword')?.errors?.['required']" class="hint"> 
                            Enter Confirm Password </div>
      <div  class="err" *ngIf="confirmForm.get('confirmPassword')?.errors?.['required'] ">Confirm Password<strong>required</strong></div>
    <div *ngIf="ismatch" class="err">New password and cinfirm Password must be match</div><br> 

    <button mat-raised-button color="accent" (click)="submit(confirmForm.value)">submit</button>


    </form>




</div>
    





