.cls1 {
    background-color: red;
}

.cls2 {
    background-color: yellow
}

.cls3 {
    background-color: rgb(0, 255, 72);
}

ngCls1 {
    color: rgb(0, 85, 255);
}

ngCls2 {
    color: rgb(0, 255, 119);
}