    .err{
    color: red;
    margin: 5px;
    }
    .mob-inp{
        width: 35px;
    }
    .p-viewer {
        position: relative;
        left: -24px;
        font-size: 20px;
    }
    .formBackGround{
        margin: auto;
        border: 1px solid black;
        width: 400px;
        margin-top: 20px;
    }
    .p-viewer-slash{
        position: relative;
        left: -24px;
        font-size: 20px;
    }
// .formBackGround{
//     color: aqua;
// }